html{
  scroll-behavior: smooth;
}

.nav-bar{
  min-height: 150px;
}

.navbar-brand {
  padding: 0 15px;
  height: 150px;
  line-height: 150px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

